body {
    font-family: sans-serif;
    background-color: #16202a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container {
    width: 28%;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    border: 8px dashed #16202a;
}
label {
    font-size: 20px;
    margin-bottom: 10px;
}
input[type="text"],
input[type="number"] {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #5b6cc2;
    padding: 5px;
    font-size: 18px;
}
input[type="checkbox"] {
    margin-top: 8px;
    width: 30px;
    height: 30px;
}
button {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.password {
    margin-bottom: 20px;
    font-size: 20px;
}